@charset "UTF-8";

/* Sub Page CSS */

/* Welcome Page 꾸미기  */
/* 회사 인사말 백그라운드   */
#sub_img {
    width: 971px;
    height: 179px;
    background-image: url(../images/company/sub_back.png);
    background-repeat: no-repeat;
    background-position: left top;
}

/* 서브 메뉴 */
#sub_menu {
    width: 238px;
    float: left;
    margin: 20px;
    /* border: 1px solid #CCC; */
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1em;
}

#sub_menu ul {
    margin: 20px 0 0 10px;
    list-style: none;
}

#sub_menu a {
    text-decoration: none;
    color: #666;
    display: block;
    height: 15px;
    width: 150px;
    padding: 7px;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: #999;
    background-image: url(../images/bullet.gif);
    background-repeat: no-repeat;
    background-position: right center;
}

#sub_menu a:hover {
    background-image: url(../images/bullet_orange.gif);
    background-repeat: no-repeat;
    background-position: right center;
    color: #F90;
}

/* Welcome 페이지 컨텐츠    */
article {
    float: right;
    width: 660px;
    /* border: 1px solid #CCC; */
    padding-right: 30px;
}

article h1 {
    font-family: "Times New Roman", Times, serif;
    font-size: 45px;
    color: #CCC;
    margin: 20px 0;
    font-weight: normal;
}

article p {
    padding-left: 10px;
}

figure.ceo {
    float: right;
    margin: 5px;
}

figcaption {
    text-align: center;
    color: #39F;
}

/* 회원가입 페이지  */
/* 회원가입 배경 이미지 */
#sub_img_member {
    width: 971px;
    height: 179px;
    background-image: url(../images/member/sub_back.png);
    background-repeat: no-repeat;
    background-position: left top;
}

form#join { /* article form */
    margin: 10px 0 0 0;
    width: 670px;
}

form#join fieldset {
    padding: 10px 0 20px 5px;
    border: none;
}

form#join fieldset legend {
    font-family: seo;
    font-size: 20px;
    border-bottom: 1px dotted #666;
    width: 600px;
    padding: 5px 0;
}

form#join label {
    width: 140px;
    float: left;
    margin: 5px 0;
}

form#join input {
    margin: 5px 0;
    border: 1px solid #999;
    background-color: #FCFDEA;
}

form#join input.id {
    width: 100px;
    height: 18px;
}

form#join input.dup {
    width: 120px;
    height: 23px;
    border-radius: 8px;
    border: none;
    margin: 0 0 0 5px;
    font-weight: bold;
    color: #FFF;
    background-image: url(../images/member/dup.jpg);
    background-repeat: repeat-x;
    background-position: center center;
}

form#join input.pass {
    width: 150px;
    height: 18px;
}

form#join input.name {
    width: 80px;
    height: 18px;
}

form#join input.email {
    width:400px;
    height: 18px;
}

form#join input.address {
    width: 480px;
    height: 18px;
}

form#join input.phone, form#join input.mobile {
    width: 150px;
    height: 18px;
}

form#join #buttons {
    margin: 20px 0 0 0;
}

form#join #buttons .submit, form#join #buttons .cancel {
    height: 30px;
    width: 150px;
    border: 1px solid #666;
    border-radius: 10px;
    box-shadow: 3px 3px 2px #CCC;
    font-size: 14px;
}

form#join #buttons .submit {
    background-image: url(../images/member/submit_back.jpg);
    background-repeat: repeat-x;
    background-position: center center;
    color: #FFF;
}

form#join #buttons .cancel {
    margin: 0 0 0 20px;
    background-image: url(../images/member/cancel_back.jpg);
    background-repeat: repeat-x;
    background-position: center center;
}

/* History : 회사 연혁  */
article .y2011, article .y2010, article .y2009 {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #999;
    padding: 10px 0 0 150px;
}

article .y2011 h3, article .y2010 h3, article .y2009 h3 {
    display: none;
}

article .y2011 {
    background-image: url(../images/company/2011.jpg);
    background-repeat: no-repeat;
    background-position: left top;
}
article .y2010 {
    background-image: url(../images/company/2010.jpg);
    background-repeat: no-repeat;
    background-position: left top;
}
article .y2009 {
    background-image: url(../images/company/2009.jpg);
    background-repeat: no-repeat;
    background-position: left top;
}

article .y2011 dt, article .y2010 dt, article .y2009 dt {
    float: left;
    text-transform: capitalize;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 15px;
    color: #39F;
    padding-top: 3px;
    margin: 0;
}

article .y2011 dd, article .y2010 dd, article .y2009 dd {
    padding: 0 0 0 15px;
    line-height: 2em;
    background-image: url(../images/company/h_bullet.gif);
    background-repeat: no-repeat;
    background-position: left center;
}

article .y2011 dl, article .y2010 dl, article .y2009 dl {
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: #CCC;
}

article dl.dot_none {
    border-bottom: none;
}

/*  Enquete */
#sub_img_center {
    width: 971px;
    height: 179px;
    background-image: url(../images/center/sub_back.png);
    background-repeat: no-repeat;
    background-position: left top;
}